.sectionstyle{
    display: flex;
    justify-content: center;
    align-items: center;
}

.cards{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 30px;
}

.ticket{
    margin-top:5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    transform: translateY(0px);
}

.tkt-icon{
    scale:0.8;
    margin:5px;
    background: #fff;
    background: radial-gradient(circle, rgba(0, 0, 0, 0.785),rgba(255, 255, 255, 0.695), rgba(255, 255, 255, 0.689));
    border-radius:50%;
}

.ticket h2{
    margin-bottom:5px;
    color:black;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 800;
}

.reg-btn{
    display:block;
    padding:15px;
    text-transform:uppercase;
    font-family: 'Nunito Sans';
    font-weight: 600;
    min-width:40px;
    background-color: rgba(92, 123, 244, 1);
}

.ticket:hover,.ticket:active{
    transition: scale 0.5s ease-in-out,transform 0.5s ease-in;
    transform:translateY(5px);
    .reg-btn{
        cursor: pointer;
        scale:0.9;
        transition:background-color 0.2s ease-in;
        background-color: #2644b9;
    }  
    .price{
        background: linear-gradient(to right, #216ef3, #086bff,#2323cf, #4f44ee);
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
    }
}

.price{
    font-size:16px;
    font-family: 'Nunito Sans';
    font-weight:800;
}

@media (max-width:480px){
    .rightcornericon{
        display: none;
    }

    .ticket{
        scale:0.8;
    }
    
    .tkt-head{
        width:40%;
    }

    .reg-btn{
        font-size: 15px;
    }
    
}

@media (max-width:768px){
    .cards{
        padding-bottom: 15px;
    }
    .ticket:hover,.ticket:active{
        scale:0.9;
        .reg-btn,.price{
            scale:1.1;
        }
    }
}

@media (min-width:769px){
    .cards{
        flex-direction: row;
        justify-content:space-evenly;
    }

    .reg-btn{
        font-size:15px;
    }

    .ticket{
        font-size:0.8em;
    }

    .ticket:hover,.ticket:active{
        scale:0.9;
        .reg-btn{
            scale:1.1;
        }
    }

}

@media (min-width:1023px){
    .reg-btn{
        margin-top:15px;
        margin-bottom:5px;
    }

    .cards{
        justify-content: space-evenly;
        gap:0;
    }

    .ticket:hover,.ticket:active{
        scale:0.9;
        .reg-btn,.price{
            scale:1.1;
        
        transition: scale 0.5s ease-in-out,transform 0.5s ease-in;
        transform:translateY(7px);
        }
    }
   
}

@media(min-width:1440px){
    .cards{
        padding:2rem;
    }

    .ticket{
        scale:1.2;
    }

    .ticket:hover,.ticket:active{
        scale:1.1;
        .reg-btn,.price{
            scale:1.2;
        }
        transition: scale 0.5s ease-in-out,transform 0.5s ease-in;
        transform:translateY(7px);
    }
}