.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #07194B;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

.modal {
    width: 30%;
    height: 60%;
    background-color: white;
    border-radius: 90px;
    border-style: solid;
    border-color: #74758D;
    border-width: 7px;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    box-shadow: 35px 35px 50px 10px rgba(0, 0, 0, 0.4);
    padding-top: 130px;
}

.insider {
    width: 50%;
    height: 50%;
    background-color: white;
    margin-left: 100px;
}

input {
    display: block;
    width: 90%;
    margin: 10px 0;
    padding: 8px;
    border-radius: 90px;
    margin-bottom: 24px;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 90px;
    margin-left: 80px;
    display: block;
    margin: 10px 0;
    padding: 8px;
    border-radius: 90px;
    margin-bottom: 24px;
}

h2 {
    margin-left: 10px;
}

button:hover {
    background-color: #0056b3;
}

p {
    margin-top: -10px;
}

a {
    text-decoration: none;
}



