.memories {
  
  margin: 80px auto; /* Center horizontally */
  height: 1000px;
  

  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  border: 8px solid #74758d;
  overflow: hidden;
  width: 80%;
    background-color: white;
    border-radius: 90px;
    border-style: solid;
    border-color: #74758D;
    border-width: 7px;
}
.memoryimg {
  width: 1277px;
  height: 850px;
  padding-bottom: 10px;
  margin-top: -70px;
}
h1 {
  font-family: "Zen Dots", sans-serif;
  font-weight: regular;
  font-size: 50px;
  line-height: 130px;
  color: #1e1e1e;
  text-transform: uppercase;
  text-align: center;
}

button {
  padding: 10px 20px;
  background-color: #07194b;
  color: white;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -60px;
}
button .arrow {
  margin-left: 18px;
  font-weight: bold;
}
button i {
  margin-right: 12px;
}
.corner_icon {
  position: absolute;
  top: -35px;
  left: -50px;
  width: 170px; 
  height: 150px;
  transform: rotate(90deg);
}
/* Responsive Styles */

@media (max-width: 1024px) {
    .memories {
      width: 90%; /* Adjust to fit smaller screens */
      height: auto; /* Adjust height to be responsive */
      padding: 20px;
    }
    .memoryimg {
      width: 100%;
      height: auto;
    }
  }
  
  @media (max-width: 768px) {
    h1 {
      font-size: 40px;
      line-height: 1.2;
    }
    button {
      font-size: 14px;
      padding: 8px 16px;
    }
  }
  
  @media (max-width: 480px) {
    .memories {
      margin: 40px auto; 
      padding: 10px;
      border-width: 4px; 
    }
    h1 {
      font-size: 20px;
      z-index: 3;
      text-align: center;
      
      padding-bottom: 30px;
     
    }
    button {
      font-size: 12px;
      padding: 6px 12px;
      display: none;
    }
    .cornericon {
      display: none;
      top: -30px;
      left: -30px;
      width: 120px;
      height: 100px;
    }
  }