.white-bg{
    width: 80%;
    background-color: white;
    border-radius: 90px;
    border-style: solid;
    border-color: #74758D;
    border-width: 7px;
    overflow: hidden;
    margin-left:  auto;
    margin-right: auto;
    position: relative;
    margin-top: 40px;
    box-shadow: 15px 25px 50px 10px black;
    
}