.Main {
    text-align: center;
    margin-top: 200px;
    background: radial-gradient(circle at center, rgb(1, 48, 108) 15%, rgb(2, 1, 80) 200%);

    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    color: white;
    position: relative; 
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Nunito Sans', sans-serif;
    justify-content: space-between; 
    height: 300px; 
  }
  
  .connect {
    font-size: 20px;
    font-family: 'Zen Dots', sans-serif;

  }
  
  .name {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
   gap:10px
  }
  
  .follow {
    margin-top: 10px;
    font-size: 22px;
    font-family: 'Zen Dots', sans-serif;
    
  }
  
  .icons {
    margin-top: 10px;
  }
  
  .contact-link,
  .social-link {
    color: inherit;
    text-decoration: none;
    margin: 0 10px;
  }
  
  .contact-link:hover,
  .social-link:hover {
    color: #fdfdfd;
  }
  
  .lastline {
    margin-top: 20px;
    font-size: 14px;
  
     
  }
  .bold-text{
    font-weight: bold;
  }
  
  .scroll-to-top {
    position: absolute;
    right: 50px;
    bottom: 43px; 
    background-color: rgb(255, 252, 252) ;
    
    color: black;
    border: none;
   ;
    cursor: pointer;
   
   
    align-items: center;
    justify-content: center;


    padding-top: 2px;
    padding-bottom: 2px;
    
    border-radius: 90px;
  
    font-size: 25px;
    padding-left: 1.5cqh ; 
    padding-right: 0cqh;
    display: flex;
    padding-top: 1px;
    padding-bottom: 2px;
  }
  
  .scroll-to-top:hover {
    background-color:black;
    color: white;
  }
  .size-6 {
    width: 28px; 
    height: 24px;
    color: black; 
    
  }

  @media (max-width: 768px) {
    
  
    .follow {
          font-size: 18px;
        }
      .connect{
        font-size:18px;
      }
      .scroll-to-top {
        position: absolute;
        right: 20px;
        bottom: 80px; 
        
        padding-top: 2px;
        padding-bottom: 2px;
        
        border-radius: 90px;
      
        font-size: 25px;
        padding-left: 1cqh ; 
        padding-right: 0cqh;
        display: flex;
        padding-top: 3px;
        padding-bottom: 3px;
        align-items: center;
        justify-content: center;
      }
      .size-6 {
        width: 20px; 
        height: 10px;
        color: rgb(0, 0, 0); 
        
      }
        
      }

      @media (max-width: 480px) {
    
  
        .follow {
              font-size: 18px;
            }
          .connect{
            font-size:18px;
          }
          .scroll-to-top {
            position: absolute;
            right: 20px;
            bottom: 99px; 
            border-radius: 90px;
          
            font-size: 20px;
            padding-left: 1cqh ; 
            padding-right: 0cqh;
            
            display: flex;
            align-items: center;
            justify-content: center;
          }
          .size-6 {
            width: 20px; 
            height: 10px;
            color: rgb(0, 0, 0); 
            
          }
            
        }
